:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6242d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.add-task-form {
  display: flex;
  align-items: center;
}

.add-task-form input[type="text"] {
  padding: 10px;
  max-width: 800px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px solid #061f8f;
  background-color: #fff;
  color: #0b0241;
}

.add-task-form button[type="submit"] {
  padding: 10px 20px;
  background: #0b0241;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.task span {
  flex: 0.7;
  color: #0b0241;
}

.task button {
  padding: 5px 10px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.task-list {
  margin-top: 20px;
}


.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
}

.App h1 {
  color: #0b0241;
  line-height: 1.1;
  margin-bottom: 40px;
}
